{% extends "base.html" %}
{% block listItem %}
{% if role != "Officer" %}
<li >
  <a class="nav-item-container menu-item" hx-get="/requests" hx-target="#content"  hx-push-url="true">
    <div aria-selected="false" class="nav-item flex col" data-pending-requests="{{ pending_count }}">
      <span class="icon-container menu-icon">
	<img src="./assets/icons/requests-icon.png" alt="Requests"/>
      </span>
      <span class="nav-title">Requests</span>
    </div>
  </a>
<li>
{% endif %}
{% if role == "Human Resources" %}
<li >
  <a class="nav-item-container menu-item" hx-get="/new_user" hx-target="#content"  hx-push-url="true">
    <div aria-selected="false" class="nav-item flex col">
      <span class="icon-container menu-icon">
	<img src="./assets/icons/add-user-icon.png" alt="Add New Employee"/>
      </span>
      <span class="nav-title">Add New Employee</span>
    </div>
  </a>
<li>
{% endif %}
{% endblock %}
{% block content %}
<div class="content__primary">
  <h1><span class="icon-container header-icon"><img src="/assets/icons/team-leaves-header-icon.png"/></span>Team Leave Calendar</h1>
  <div id="month-switcher" class="flex">
    <button class="prev-month" hx-get="{% if current_month == 1 %}/calendar?month=12&year={{ current_year - 1 }}{% else %}/calendar?month={{ current_month - 1 }}&year={{ current_year }}{% endif %}" hx-target=".content__primary" hx-swap="outerHTML" id="left">&lt;</button>
    <div id="current-month">
      <span class="icon-container2 header3-icon">
		<img src="/assets/icons/calendar-date-icon.png"/>
      </span>
      {{ current_month_name }} {{ current_year }}
    </div>
    <button class="next-month" hx-get="{% if current_month == 12 %}/calendar?month=1&year={{ current_year + 1 }}{% else %}/calendar?month={{ current_month + 1 }}&year={{ current_year }}{% endif %}" hx-target=".content__primary" hx-swap="outerHTML" id="right">&gt;</button>
  </div>
  <div class="team-leave-calendar">
    <div class="team-leave-calendar-header-row flex">
      <div class="row_title member-info">
        <div class="profile-pic-placeholder"></div>
        <strong>Team Member</strong>
      </div>
      <div class="team_leaves_title_row grid" style="--len: {{ days_of_month.len() }};">
        {% for day in days_of_month %}
        <div class="team_leaves_title_row__day">{{ day }}</div>
        {% endfor %}
      </div>
    </div>
    <div id="team_calendar__container">
      {% for data in gantt_data %}
      <div class="team-member-leave-data flex">
        <div class="team_member_info">
          <div class="member-profile-pic">
            <img src="/assets/icons/default-profile-picture.png" alt="{{ data.name }}"/>
          </div>
          <div class="team_member_name">{{ data.name }}</div>
        </div>
        <div class="team_leaves_container grid" style="--len: {{ days_of_month.len() }};">
          {% for leave in data.leaves  %}
          <div class="team_leave_entry selected highlighted" data-start-date="{{ leave.start_date }}" data-end-date="{{ leave.end_date }}"
               {% if leave.start_month() < current_month && leave.end_month() > current_month %}
               style="--start: 1; --end: {{ days_of_month.len() +1 }};"
               {% else if leave.start_month() == current_month && leave.end_month() > current_month %}
               style="--start: {{ leave.start_day() }}; --end: {{ days_of_month.len() + 1 }};"
               {% else if leave.start_month() < current_month && leave.end_month() == current_month %}
               style="--start: 1; --end: {{ leave.end_day() }};"
               {% else %}
               style="--start: {{ leave.start_day() }}; --end: {{ leave.end_day() }};"
               {% endif %}>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
