<div class="requests_card_container">
  <div id="{{ request.id }}" class="request_card flex col" >
    <div class="submission__date">
      <span>{{ request.apply_date }}</span>
    </div>
    <div class="author flex col">
      <div class="author__foto">
	<img src="/assets/icons/default-profile-picture.png" alt="Employee profile picture" height="100%" width="100%">
      </div>
      <div class="author__datails flex col">
	<span class="author__name"><strong>{{ request.name }}</strong></span>
	<span class="author__job_title">{{ request.job_title }}</span>
      </div>
    </div>
    <div class="submission__container flex col">
      <div class="submission__details flex col">
        <div>
                <strong>
                  Request Details
                </strong>
        </div>
        <div class="start_date">
                <span class="subtext">Start Date</span>
                <p data-start-date="{{ request.start_date }}">{{ request.print_start_date() }}</p>
        </div>
        <div class="end_date">
                <span class="subtext">End Date</span>
                <p data-end-date="{{ request.end_date }}">{{ request.print_end_date() }}</p>
        </div>
        <div class="duration">
                <span class="subtext">Number of days</span>
                <p>{{ request.days }}</p>
        </div>
        <div class="leave_type">
                <span class="subtext">Leave Type</span>
                <p>{{ request.leave_type }}</p>
        </div>
        <div class="comments">
                <span class="subtext">Comments</span>
          {% if let Some(comments) = request.comments %}
                <p>{{ comments }}</p>
          {% endif %}
        </div> 
  </div>
  <div class="submission__response flex">
    <button class="reject-btn" hx-post="/reject_request/{{ request.id }}">
        Reject
    </button>
    <button class="accept-btn" hx-post="/approve_request/{{ request.id }}">
      Accept
    </button>
    </div>
  </div>
  </div>
  </div>
